body{
  margin:0px;
  padding:0px;
  font-family:Verdana, serif;
}

header{
    height: 70px;
    line-height: 70px;
    padding-left:25px;

    background-color: #66e289;
    
    font-size:2rem;
    font-weight: bold;
    margin-bottom:50px;
}

section{
    background-color: #c755de;
    
}

article{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-star;

}

img{
    border:dashed 1px #000000;
    margin: 8px;
    padding:4px;
    width: 42%;
    max-width:220px;
    height: 180px;
    object-fit: cover;

    
}
